.app-note-view {
  padding: 0px 40px;
  padding-bottom: 40px;
  background-color: var(--theme-black-2);
  box-sizing: border-box;
  border-radius: 6px;
  border-left: 5px solid var(--theme-black-3);
}

.app-card--note-view {
  padding: 40px;
  box-sizing: border-box;
}

.app-card--note-view .app-card__title, .app-note-view h2, .app-note-view h3, .app-note-view h4, .app-note-view h5, .app-note-view h6 {
  font-family: 'Poppins', arial, helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: var(--theme-blue-1);
  margin: 0;
  padding: 0;
}

.app-note-view h2, .app-note-view h3, .app-note-view h4, .app-note-view h5, .app-note-view h6 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.app-card--note-view .app-card__title, .app-note-view h1 {
  font-size: 34px;
  line-height: 55px;
}

.app-note-view h2 {
  font-size: 26px;
  line-height: 38px;
}

.app-note-view h3 {
  font-size: 20px;
  line-height: 32px;
}

.app-note-view h4 {
  font-size: 18px;
  line-height: 28px;
}

.app-note-view h5 {
  font-size: 16px;
  line-height: 24px;
}

.app-note-view h6 {
  font-size: 14px;
  line-height: 20px;
}


.app-note-view p {
  margin: 0;
}

.app-card--note-view .app-card__description, .app-note-view p, .app-note-view li {
  font-size: 19px;
  line-height: 34px;
  font-family: 'Raleway', sans-serif;
}

.app-note-view ul {
  padding-left: 20px;
  padding-right: 0;
}

.app-note-view li {
  padding: 10px 0;
}