.app-card {
  padding: 20px 20px;
  border-radius: 6px;
  will-change: background-color;
  transition: background-color 0.5s ease-in-out;
  background-color: var(--theme-black-2);
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px 0;
  border-left: 5px solid var(--theme-black-3);
}

.app-card:hover {
  background-color: var(--theme-black-3);
}

.app-card--note {
  border-left: 5px solid var(--theme-blue-1);
}

.app-card--module {
  border-left: 5px solid var(--theme-purple-1);
}

.app-card--lesson {
  border-left: 5px solid var(--theme-red-1);
}

.app-card__title {
  font-size: 20px;
}

.app-card__description {
  font-size: 16px;
  line-height: 26px;
}