#schedule {
  box-sizing: border-box;
  max-height: calc(100vh - 110px);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px 0;
}

#schedule .schedule-body {
  overflow-y: scroll;
}

#schedule .schedule-title {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: start;
}

#schedule .card-footer {
  grid-template-columns: 1fr;
}